        h1 {
            color: #aaff47;
            font-size: 40px;
            background-color: #11cc33;
            text-align: center;
            height: 50px;
            border-radius: 4px;
            box-shadow: 5px 5px 0px;
        }

        p {
            color: Teal;
        }


        body {
            font-family: arial, helvetica, sans-serif;
            font-weight:bold;
            color: #ff0947;
            background: #090909;
            margin-left: 40px;
            margin-right: 40px;
        }

        .smttablefixer {
            border-radius: 30%;
        }

        .socialmediatabelle {
            color: #fff;
            background: #ff3d3dbe;
            display: block;
            border: 1em dashed #a71515;
            border-radius: 5em;
            margin-top: 1em;
            padding: 1em;
        }

         .smteintrag {
            color: #fff;
            font-size:xx-large;
            text-align: center;
            text-decoration: none;
            background: #bf1717;
            display: block;
            border-radius: 5em;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 10px;

            transition: 0.5s ease-out;
        }

        .smteintrag:hover {
            transform: scale(1.1)
        }

        span {
            display: inline-block;
        }

        .grid-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, 400px);
            gap: 10px;
        }

        .mini-grid-container{
            display: grid;
            height: 50px;
            grid-template-columns: 50px 1fr;
            
        }

        #WebsiteFlexer{
            color: #ff0947;
            text-decoration: none;
            transition: 1s ease;
            background-color: #090909;
            width: 192px;
            padding: 10px;
            border-radius: 10%;
            box-shadow: 5px 5px 0px;
            position: fixed;
            top: 0px;
            right: 5px;

            animation-name: WebsiteFlexerCatcher;
            animation-duration: 0.5s;
            animation-iteration-count: 5;   
            animation-timing-function: ease-in-out;
        }

        #WebsiteFlexer:hover {
                right: 40px;
                transform: rotate(6deg);
            }

        #WebsiteFlexerFont {
            color: #ff0947;
            text-decoration: none;
        }

        @keyframes WebsiteFlexerCatcher {
            0% {
                background-color: #090909;
            }

            50% {
                background-color: #f5f5f5;
            }

            100% {
                background-color: #090909;
            }
        }