        h1 {
            color: #aaff47;
            background-color: #11cc33;
            text-align: center;
        }

        p {
            color: Teal;
        }


        body {
            color: #ff0947;
            background: #090909;
        }